<head> 
  <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300"
      rel="stylesheet"
    />
</head>
<body>
  <%- include('navbar') %>
  <h1>hello there</h1>
  <h2><%= username%></h2>
  <img src="<%= avatar%>" width="50px" height="50px">
  <form action="/logout" method="GET">
    <button type="submit">Logout</button>
  </form>

  <form action="/game" method="GET">
    <button type="submit">Single Player</button>
  </form>
  <form action="/joinQueue" method="GET">
    <button type="submit">Join Queue</button>
  </form>
  <form action="/scoreboard" method="GET">
    <button type="submit">Scoreboard</button>
  </form>
  <form action="/game-test" method="GET">
    <button type="submit">Mario</button>
  </form>
  <form action="/registered" method="GET">
    <button type="submit">hello there</button>
  </form>
</body>
