<head> 
  <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300"
      rel="stylesheet"
    />
  <link href="../public/css/main.css"/>
</head>
<body>
  <%- include('navbar') %>
  <h1>hello there</h1>
  <h2><%= user%></h2>
  <form action="/logout" method="GET">
    <button type="submit">Logout</button>
  </form>

  <form action="/game" method="GET">
    <button type="submit">Single Player</button>
  </form>
  <form action="" method="GET">
    <button type="submit">Join Queue</button>
  </form>
</body>
