<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
  <link rel="stylesheet" href="./css/dashboard.css">
</head>
<body>
  <% include('navbar') %>
  <h1>HELLO <%= username%></h1>
  <h2> Welcome to your Dashboard </h2>
  <h3>please choose an option </h3>
  
  <div class="profile-container">
    <img src="<%= avatar%>" width="50px" height="50px">
    <!-- <img src="/assets/ranks/fourth_level.png" width="72px" height="72px" class="profile-image"> -->
  </div>

  <form action="/warmup-game" method="GET">
    <button type="submit">Warmup Single Player</button>
  </form>
  
  <form action="/joinQueue" method="GET">
    <button type="submit">Join Queue for Multiplayer</button>
  </form>
  
  <form action="/scoreboard" method="GET">
    <button type="submit">Scoreboard</button>
  </form>

  <form action="/logout" method="GET">
    <button type="submit">Logout</button>
  </form>

</body>
</html>
