<!DOCTYPE html>
<html>

<head>

  <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
  <link rel="stylesheet" href="./css/dashboard.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <%- include('navbar') %>

    <div class="contentContainer">

      <h1>HELLO <%= username%>
      </h1>
      <h2> Welcome to your Dashboard </h2>
      <h3>please choose an option </h3>

      <div class="profile-container">
        <img src="<%= avatar%>" width="50px" height="50px">
      </div>

      <form action="/warmup-game" method="GET">
        <button type="submit">Singleplayer</button>
      </form>

      <form action="/joinQueue" method="GET">
        <button type="submit">Multiplayer</button>
      </form>

      <form action="/scoreboard" method="GET">
        <button type="submit">Scoreboard</button>
      </form>


      <div id="overlay">
        <img class="achievment" id="overlayImage" src="" alt="">
      </div>
      <script src="/socket.io/socket.io.js"></script>
      <script>
        const socket = io();
        const username = "<%= username %>";

        window.onload = function () {
          document.getElementById('overlay').style.display = 'none';
          socket.emit("achievement_gained", username);
        }

        function showOverlay(imageUrl) {
          var overlay = document.getElementById('overlay');
          var overlayImage = document.getElementById('overlayImage');

          overlayImage.src = "/assets/achievements/" + imageUrl;
          overlay.style.display = 'block';

          setTimeout(function () {
            overlay.style.display = 'none';
          }, 5000);
        }

        socket.on("getAchievement", (url) => {
          console.log("getAchievement " + url);
          var imageUrl = url;
          showOverlay(imageUrl);
        });
      </script>

</body>

</html>