<html>
  <head>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <h1><%= roomID%></h1>

    <div class="quizbox">

      <h2 id="frage"></h2>
      <div class = "answers" id="antwort1"></div>
      <div class = "answers" id="antwort2"></div>
      <div class = "answers" id="antwort3"></div>
      <div class = "answers" id="antwort4"></div>
  </div>

  <script>
    const socket = io();

    //document.addEventListener('DOMContentLoaded', () => {
    //  socket.emit('gamePageLoaded');
   // });
    window.load = function () {
      socket.emit('gamePageLoaded');
    }
    
    socket.on("question", (questions)  => {

      

    });
    
    
  
  </script>
    
  </body>
</html>
