<link href="/css/main.css"/>
<style >
    /* Navigation */
    nav {
        /*display: flex;
        justify-content: center;*/
        background-color: rgba(128, 128, 128, 0.8);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }
    nav a {
        float: left;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul li {
        display: inline;
        
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        padding: 10px;
    }

    nav ul li:last-child {
        margin-left: auto;
    }

    nav ul li:last-child a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    nav ul li:last-child a:hover {
        color: darkred;
    }
    nav ul li:hover > a {
        background-color: rgba(255, 255, 255, 0.8);
        color: #6b5b95;
        border-radius: 15px;
    }
    .navProfile{
        color: white;
        display: flex;
        align-items: center;
    }
    .navProfile .username {
        margin-right: 10px;
    }
    navProfile {
        margin-right: auto;
    }

    .navProfile .username {
         margin-right: 10px;
    }

    
</style>

<nav>
    <ul>
        <li><a href="/index">Dashboard</a></li>
        <li><a href="/index">So wird gespielt</a></li>
        <li><a href="/logout">Logout</a></li>
        <li>
            <div class="navProfile">
                <span class="username"><%= username%></span>
                <img src="<%= avatar%>" width="20px" height="20px">
              </div>
              
        </li>
    </ul>
</nav>



