<html>
    <nav>
        <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/game">So wird gespielt</a></li>
        <li class="dropdown">
            <a href="#">Anmelden</a>
            <ul class="dropdown-menu">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Registrieren</a></li>
            </ul>
        </li>
        <li><%= user%></li>
        </ul>
    </nav>
</html>