<html>
  <head>
  <title>Lobby</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <style>

    body {
      background: url("/assets/backgrounds/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg");
      margin: 0;
      padding: 20px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      display: marker;
      min-height: 100vh;
      height: auto;
      background-size: cover;
      width: auto;
      background-repeat: no-repeat;
      background-position: center;
    }
    h1, h2, h3 {
      font-family: "Helvetica", sans-serif;
      font-weight: 250;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      padding: 10px;
      border-radius: 15px;
      background-color: rgba(128, 128, 128, 0.8);
      margin: 10px 0;
      font-style: bold;
      
    }

    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 18px;
    }


    button {
      padding: 15px 30px;
      font-size: 18px;
      border: none;
      border-radius: 5px;
      /*background-color: rgba(128, 128, 128, 0.6);*/
      background-color: rgba(162,35,142,0.7);
      margin: 5px;
      transition: background-color 0.3s ease;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }

    button:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }

    button:hover span {
      display: none;
    }

    button:hover::after {
      content: attr(data-hover-text);
      display: inline-block;
    }

    .contentContainer {
        /*background: rgba(169, 169, 169, 0.65);*/
        /*background: rgba(87,7,97, 0.45);*/
        background: rgba(191, 191, 191, 0.5);
        padding: 25px;
        max-width: fit-content;
        border-radius: 25px;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: fit-content;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
      }

    @media only screen and (max-width: 767px) {
      h1 {
        font-size: 24px;
      }

      h2 {
        font-size: 20px;
      }

      h3 {
        font-size: 18px;
      }


      .profile-container img {
        margin-bottom: 10px;
      }

      button {
        width: 100%;
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      h1 {
        font-size: 36px;
      }

      h2 {
        font-size: 28px;
      }

      h3 {
        font-size: 24px;
      }

      button {
        flex: 0 0 200px;
      }
    }

    @media only screen and (min-width: 1024px) {
      h1 {
        font-size: 48px;
      }

      h2 {
        font-size: 36px;
      }

      h3 {
        font-size: 30px;
      }

    }
    .loader {
      border: 16px solid rgba(243,243,243,0.7); /* Light grey */
      border-top: 16px solid rgba(162,35,142,0.9);
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
      display: none;
      margin: auto;
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

  </style>

  <body>
  <%- include('navbar') %>
  <h1>Welcome in Queue <%= username %></h1>
  <div class="contentContainer">
  <h2>Wait for your opponent to Join the Room</h2>
  <h3>If everyone is there, press Join and enjoy the Game together</h3>

    <button id="joinButton" onclick="joinQueue()">JOIN</button>
    <div class="loader" id="loader"></div>
  </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    const username = "<%= username %>";
    const usersDiv = document.getElementById("users");

    console.log("username: " + username);

    function joinQueue() {
      document.getElementById('joinButton').style.display = "none";
      document.getElementById('loader').style.display = "block";
      socket.emit("joinQueue", username);
    }

    socket.on("joinGame", (roomID) => {
          window.location.href = "/game/" + roomID;
    });
    
    socket.on("test", (roomID) => {
      
      console.log("Test erfolgreich ! " + roomID);

    });

    socket.on('question', function(question) {
      console.log("Frage erhlaten");
      document.getElementById('question-text').textContent = question.text;
      document.getElementById('option1-text').textContent = question.answers[0];
      document.getElementById('option2-text').textContent = question.answers[1];
      document.getElementById('option3-text').textContent = question.answers[2];
      document.getElementById('option4-text').textContent = question.answers[3];
    });

    socket.on("usersInQueue", (users) => {
      usersDiv.innerHTML = "";

      // Create a table element
      const table = document.createElement("table");

      // Create the table header row
      const headerRow = document.createElement("tr");
      const headerCell1 = document.createElement("th");
      headerCell1.textContent = "Username";
      headerRow.appendChild(headerCell1);
      table.appendChild(headerRow);

      // Iterate over the users array and create table rows
      users.forEach((user) => {
        const row = document.createElement("tr");
        const cell1 = document.createElement("td");
        cell1.textContent = user;
        row.appendChild(cell1);
        table.appendChild(row);
      });

      // Append the table to the usersDiv
      usersDiv.appendChild(table);
    });
    
  </script>
</html>