
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px;
    background: url("/assets/backgrounds/screens-1683513.jpg");
    display: marker;
    min-height: 100vh;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.contentContainer {
    background: rgb(130,193,255);
    background: radial-gradient(circle, rgba(130,193,255,0.4962359943977591) 0%, rgba(57,59,84,0.9136029411764706) 100%);
    /*background: rgba(191, 191, 191, 0.5);*/
    padding: 25px;
    border-radius: 25px;
    position: absolute;
    left: 5%;
    top: 15%;
    right: 5%;
    bottom: 5%;
    height: fit-content;
    margin: 0 auto;
    padding: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: fit-content;
    margin-top: 5%;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


h1, h2, h3 {
    font-family: "Helvetica", sans-serif;
    font-weight: 250;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    /*background-color: rgba(128, 128, 128, 0.8);*/
    background: rgb(130,193,255, 0.5);
    margin: 10px 0;
    font-style: bold;
    
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin: 0 auto;
    width: 72px;
    height: 72px;
    border-radius: 50%;
      border-color: blueviolet;
      border-style: solid;
      border-width: 5px;
      overflow: hidden;
}

.profile-container img {
    width: 100%;
      height: 100%;
      object-fit: cover;
}

button {
    font-family: "Helvetica", sans-serif;
    font-weight: 200;
    font-size: 20px;
    padding: 20px 100px;
    border: none;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.6);
    color: #fff;
    margin: 10px;
    transition: background-color 0.3s ease;
    max-width: fit-content;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

button:hover span {
    display: none;
}

button:hover::after {
    content: attr(data-hover-text);
    display: inline-block;
}
button img {

    width: 30px;
    height: 30px;
    float: right;
}